<!DOCTYPE html>
<html>
<head>
	<title>Welcome to miniproject</title>
</head>
<body>
<!--I there is no result -->
<% if(result.length == 0){ %>
	<h1 style="color: red">No data found</h1>
	<h3><a href="/">Plzz try again</a></h3>
<% } %>

<!--Print ll the results -->
<% for(var i=0;i<result.length;i++){%>
	<% var snippet = result[i]["snippet"] %>
	<% var id = result[i]["id"] %>
	<h3 style="color: red"><%= i+1 %>.<%= snippet.title %></h3>
	<h5>Description:- <%= snippet.description %></h5>
	<h5>Published at:- <%= snippet.publishedAt %></h5>
	<h5>Video Id:- <%= id.videoId %></h5>
	<h5>Channel Id:-<%= snippet.channelId %></h5>
	<h5>Channel Title :-<%= snippet.channelTitle %></h5>
<% } %>

</form>
</body>
</html>
